body {
  background: #343a40;
  overflow: hidden;
}

.container {
  width: 1050px;
  height: 650px;
  background: #f9f6ee;
  margin: 22px auto;
}

.new-post .newpostcontainer {
  display: flex;
  justify-content: center;
}

.newpost {
  width: 95%;
  height: 210px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  border: 2px solid black;
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  align-items: center; /* Center vertically */
}

.newpost img {
  width: 10%;
  height: auto;
  display: block;
  margin: 20px;
}

.newpost-content {
  padding: 20px;
  padding-left: 0;
  flex: 1;
}

.newpost-details {
  margin-bottom: 20px;
}

.newpost-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.newpost-details p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.ratings-orders {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.ratings-orders p {
  font-size: 16px;
  color: #666;
  margin-right: 20px;
}

.input-field {
  width: 68%;
  position: absolute;
  bottom: 50px;
  margin-left: 20px;
}

.input-field input {
  border: 2px solid black;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 90%;
  font-size: 16px;
  background: white;
}

.user-message {
  border: 3px solid darkgreen;
  border-radius: 50px;
  padding: 1.5rem 2rem;
  width: 915px;
  background: white;
  position: absolute;
  right: 280px;
  top: 300px;
}

.seller-message {
  border: 3px solid darkslategray;
  border-radius: 50px;
  padding: 1.5rem 2rem;
  width: 200px;
  background: white;
  position: absolute;
  left: 280px;
  top: 350px;
}

.fa-star {
  color: #ffc107;
  font-size: 18px;
}

.input-field .fa {
  font-size: 28px;
  position: absolute;
  right: 70px;
  top: 13px;
  cursor: pointer;
}

.input-field .SendButton {
  border: 2px solid black;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 90%;
  font-size: 16px;
  background: white;
}